<h1><%= @title %>'s Feed</h1>

<ul id="feed">
<% @feed.comments.each do |comment| %>
  <li id="<%= comment.fb_uid %>" class="comment">
    <div class="author">
      <%= image_tag comment.author.picture, alt: comment.author.name  %>
      <h2><%= comment.author.name %></h2>
    </div>
    <p class="content">
      <%= display_content_for comment %>
      <span class="data">
        <span class="time"><%= get_time comment.updated_at %> ago</span> |
        <span class="likes"><%= maybe_nil comment.likes %> likes</span> |
        <span class="shared">shared <%= maybe_nil comment.shared %> times</span>
      </span>
    </p>
  </li>
<% end %>
</ul>
