{{#each pages}}
  <li>
    <div class="page">
      <span class="picture"><img alt="{{name}}" src="{{picture}}" /></span>
      <h2><strong><a href="/articles/{{id}}">{{name}}</a></strong></h2>
    </div>
    <div class="data">
      <h3 class="category">{{category}}</h3>
      <h3 class="likes">
        <i class="icon"></i>
        <em>
          {{#if likes}}
            {{likes}}
          {{else}}
            0
          {{/if}}
        </em>
      </h3>
    </div>
  </li>
{{/each}}
